.loginBody {
    background-color: #f8f9fa; /* Light gray background */
    justify-content: center;
    
}
.login-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 100px; /* Adjust as needed */
    padding: 20px;
    background-color: #ffffff; /* White background */
    border: 1px solid #dee2e6; /* Light border */
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
    height: 350px; /* Increased height */
}
.form-group {
    position: relative;
    margin-bottom: 1.5rem;
}
.form-group .labe {
    position: absolute;
    top: 50%; /* Start position in the middle */
    left: 10px;
    transform: translateY(-50%);
    font-size: 1rem; /* Larger font size */
    color: #aaa;
    transition: all 0.3s ease;
    pointer-events: none;
    background-color: #fff; /* Ensure label is readable */
    padding: 0 5px; /* Add padding to label */
}
.form-group input:focus ~ .labe,
.form-group input:not(:placeholder-shown) ~ .labe {
    top: 0; /* Move label to top */
    font-size: 0.75rem; /* Smaller font size when floated */
    color: #ff5722; /* Bright orange color for active/focused state */
}
.form-control {
    border: 1px solid #ced4da; /* Light border */
    border-radius: 4px;
    padding: 10px; /* Increased padding */
}
.btn-login {
    background-color: #ff5722 !important; /* Bright orange button */
    border: none !important;
    color: #ffffff !important;
    padding: 10px 20px !important;
    cursor: pointer !important;
    margin-bottom: 10px !important; /* Added margin */
    width: 100% !important;
}
.btn-login:hover {
    background-color: #f44336 !important; /* Darker shade of orange on hover */
}
.options {
    text-align: center;
}
.options a {
    color: #ff5722; /* Bright orange color for links */
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}
.options a:hover {
    text-decoration: underline;
}
